In [1]:
import pandas as pd

In [3]:
#load the data
df_users = pd.read_csv('./data/users.csv')
df_users.head(5)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,1.116410e+09,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,1.101380e+09,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,1.069326e+09,Northern Ireland

In [11]:
total_nb_users = df_users.user_name.nunique()
print(total_nb_users)
df_users[df_users.nbr_ratings == 0].user_name.nunique()

153703

0

In [23]:
#We can see that all of the users in the database gave at least 1 ratings
df_users = df_users[df_users.nbr_ratings > 0]
print(df_users.user_name.nunique() / total_nb_users)
#How many people from the US?
df_us_users = df_users[df_users.location.str.contains('United States', na = False)]
number_us_users = df_us_users.user_name.nunique()
number_us_users/total_nb_users
# -> 74% of the people come from the United States of America.

1.0

0.7366284327566801

In [24]:
#Around all 50 states of America. -> distribution by state?
df_us_users.location.nunique()

50